
div#seosnippet {
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #EEE;
    padding: 12px;
    max-width: 650px;
    background-color: #FDFDFD;
    -webkit-box-shadow: inset 6px 6px 35px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 6px 6px 35px rgba(0, 0, 0, 0.1);
    box-shadow: inset 6px 6px 35px rgba(0, 0, 0, 0.1);
}

div#seosnippet span.title {
    color: #1a0dab;
    cursor: pointer;
    font-size: 18px;
    line-height: 21px;
}

div#seosnippet span.title:hover {
    text-decoration: underline
}

div#seosnippet cite {
    color: #006621;
    display: block;
    font-size: 14px;
    line-height: 18px;
}

div#seosnippet div.excerpt {
    color: #555;
    max-width: 508px;
}

div#seosnippet div.footer a {
    color: #1a0dab;
    cursor: pointer;
    font-weight: normal;
}

