<div class="panel panel-default panel-news">
        <div class="panel-heading">
                <i class="fa fa-fw fa-thumbs-up"></i>
                Thank you for using Bolt SEO {{ version }}.
        </div>
                <img src="{{ image }}" style="width: 70%; margin: 15px auto 15px 15%;">
</div>
